# Anemia 
**Predicting if Patient has Anemia or not and identfy its type  or Patient hasn't Anemia (Male-Female) Based on Complete Blood Count (CBC) Test**

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy  as np
%matplotlib inline
sns.set(rc={'figure.figsize':(15, 8)}, font_scale=1.3)

##  Reading

In [3]:
df_male  = pd.read_excel('Anemia-M1-Male.xlsx')
df_male = df_male[['Gender' , 'Hemoglobin','MCH','MCV','OUTPUT']]
df_male.rename({'OUTPUT' : 'OutPut'} , axis = 1 , inplace = True)
df_male

     Gender  Hemoglobin   MCH    MCV  OutPut
0      Male        16.2  35.5  111.3    Good
1      Male        10.6  37.5   92.9  Anemia
2      Male        18.8  19.5   61.4    Good
3      Male        16.0  30.7   98.7    Good
4      Male        11.7  36.9   87.7  Anemia
...     ...         ...   ...    ...     ...
9994   Male        19.2  31.8   60.5    Good
9995   Male        20.1  22.4  115.1    Good
9996   Male        11.5  23.7   75.3   Micro
9997   Male        17.6  17.2  113.4    Good
9998   Male        13.9  29.7   77.4    Good

[9999 rows x 5 columns]

In [4]:
df_male['Gender'].value_counts()

Male    9999
Name: Gender, dtype: int64

In [5]:
df_male['OutPut'].value_counts()

Good      6265
Anemia    1822
Macro     1371
Micro      541
Name: OutPut, dtype: int64

In [6]:
df_female  = pd.read_excel('Anemia-M1-Female.xlsx')
df_female = df_female[['Gender' , 'Hemoglobin','MCH','MCV','OutPut']]
df_female

      Gender  Hemoglobin   MCH    MCV  OutPut
0     Female        10.0  43.9   77.4  Anemia
1     Female        17.9  32.6   97.3    Good
2     Female        10.2  47.3   94.5  Anemia
3     Female        11.3  30.1   86.5  Anemia
4     Female        15.5  25.6   81.3    Good
...      ...         ...   ...    ...     ...
9994  Female        16.8  44.7   81.0    Good
9995  Female         4.3  38.1   94.6  Anemia
9996  Female         7.9  38.3   92.9  Anemia
9997  Female         5.3  47.8   79.4  Anemia
9998  Female        19.7  26.3  105.5    Good

[9999 rows x 5 columns]

In [7]:
df_female['Gender'].value_counts()

Female    9999
Name: Gender, dtype: int64

In [8]:
df_female['OutPut'].value_counts()

Good      3977
Anemia    3612
Macro     1626
Micro      784
Name: OutPut, dtype: int64

In [9]:
df = df_male.append(df_female)

<ipython-input-9-851bf9961927>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df_male.append(df_female)

In [ ]:
df.to_csv('Anemia(Male-Female).csv',index = False)

In [10]:
df

      Gender  Hemoglobin   MCH    MCV  OutPut
0       Male        16.2  35.5  111.3    Good
1       Male        10.6  37.5   92.9  Anemia
2       Male        18.8  19.5   61.4    Good
3       Male        16.0  30.7   98.7    Good
4       Male        11.7  36.9   87.7  Anemia
...      ...         ...   ...    ...     ...
9994  Female        16.8  44.7   81.0    Good
9995  Female         4.3  38.1   94.6  Anemia
9996  Female         7.9  38.3   92.9  Anemia
9997  Female         5.3  47.8   79.4  Anemia
9998  Female        19.7  26.3  105.5    Good

[19998 rows x 5 columns]

In [11]:
df.describe()

         Hemoglobin           MCH           MCV
count  19998.000000  19998.000000  19998.000000
mean      12.757561     29.733678     88.929583
std        5.579004      9.041494     15.307526
min        0.000000     12.000000     60.000000
25%        9.400000     22.300000     76.000000
50%       13.300000     29.600000     88.900000
75%       17.300000     36.800000    101.500000
max       22.000000     49.000000    120.000000

In [12]:
df['Gender'].value_counts()

Male      9999
Female    9999
Name: Gender, dtype: int64

In [ ]:
df['OutPut'].value_counts()

Good      10242
Anemia     5434
Macro      2997
Micro      1325
Name: OutPut, dtype: int64